    body {
        background: #f2f4f8;
    }

    .card {
        border-radius: 15px;
    }

    .preview-img {
        width: 180px;
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 10px;
        display: none;
    }

    
.favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.4rem;
  color: #ccc;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.15);
}

.favorite-btn.favorito {
  color: #C62828; /* rojito */
}