

/* --- COLORES PRINCIPALES --- */
:root {
    --azul-oscuro: #03045E;
    --azul-medio: #0077B6;
    --azul-cyan: #00B4D8;
    --azul-claro: #90E0EF;
    --azul-muy-claro: #CAF0F8;

    --verde-fondo: #E8F5E9;
    --verde-texto: #2E7D32;
    --verde-borde: #4CAF50;

    --rojo-fondo: #FFEBEE;
    --rojo-texto: #C62828;
    --rojo-borde: #F44336;

    --amarillo-fondo: #FFE8A3;
    --amarillo-texto: #8B6E00;

    --badge-rojo: #ff4444;
}

.hero {
    background-image: url("../assets/ImgsBanner/bogotanight.jpg");
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.search-box {
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 15px;
    border-radius: 12px;
    margin-top: 25px;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-claro);
    padding: 10px;
    border-radius: 8px;
}

.search-item input,
.search-item select {
    border: none;
    outline: none;
    width: 80%;
}

.btn-search {
    background: var(--azul-cyan);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-search:hover {
    background: var(--azul-medio);
}

.banner-hoteles {
    margin-top: 40px;
    padding: 25px 0;
}

.titulodeslider {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
    color: var(--azul-oscuro);
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slide-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}



.slide {
    min-width: 280px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.slide img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.slide h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--azul-medio);
}

.slide p {
    color: #444;
    margin-bottom: 15px;
}

.btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--azul-cyan);
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

.btn-slider:hover {
    background: var(--azul-medio);
}

#btnPrev {
    left: -5px;
}

#btnNext {
    right: -5px;
}